/*----------------------*/
/*---Computer Browser---*/
/*----------------------*/

/*------navigation------*/
#main-container {
  font-family: 'Josefin Slab';
  position: absolute;
  top: 75px;
}

/*------navigation------*/
#nav {
  background-color:black;
  display: block;
  height: 75px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

#nav #deep-link-list {
  float:left;
  margin-left: 60px;
}

#nav #deep-link-list li {
  display: inline;
  font-family: 'Shadows Into Light Two';
  font-size: 25px;
  list-style: none;
  margin: 30px;
}

#nav .deep-link {
  color: white;
  text-decoration: none;
}

#nav .deep-link:hover {
  text-decoration: underline;
}

#nav #contact-list {
  display: inline;
  float:right;
  margin-right:80px;
}

#nav #contact-list li{
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

#nav .contact-link {
  border-radius: 50px;
  height: 45px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

/*------mary------*/
#mary {
  background-image: url('../images/headshot_wood.jpg');
  background-size: cover;
  font-size: 27px;
  height:550px;
  margin-top:-30px;
  padding-left: 100px;
  padding-top: 200px;
  text-align:center;
}

#mary h1 {
  float:left;
  margin-top: 30px;
}

/*------about------*/
#about-wrapper {
  padding:20px;
  padding-bottom: 40px;
  width: 100%;
}

#about-blurb {
  margin: 0 auto;
  width: 85%;
}

#about h2 {
  font-size: 30px;
}

#about span {
  font-family: 'Shadows Into Light Two';
  font-size:20px;
}

#right-curly-p {
  margin:0;
}

#first-left-curly {
  float:left;
  width:30px;
}

#right-curly {
  float:right;
  width:40px;
}

#second-left-curly {
  float:left;
  width: 40px;
}

/*------skills------*/
#skills-wrapper {
  background: url('../images/casey.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
  padding-top:60px;
}

#skills {
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
  margin-left: 150px;
  padding:10px;
  width: 50%;
}

#skills h3,
#skills h2 {
  font-family: 'Shadows Into Light Two';
}

#skills .skills-list {
  font-size: 20px;
}

/*------portfolio intro------*/
#portfolio-intro {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#portfolio-intro h2 {
  font-size: 60px;
}

#portfolio-intro p {
  font-family: 'Shadows Into Light Two';
  font-size: 30px;
}

/*------portfolio------*/
#work-wrapper {
  background-image: url('../images/Blueprint-11.jpg.png');
  background-size:cover;
  padding: 40px;
}

#work {
  background-color: rgba(255, 255, 255, 0.6);
  color:black;
  margin: 0 auto;
  padding-bottom: 20px;
}

#work .project {
  display: inline-block;
  margin: 40px;
  text-align: center;
  vertical-align: top;
  width: 40%;
}

#work #sentitrend {
  display:block;
  margin: 0 auto;
}


#work .project img {
  border: 2px solid black;
  width:100%;
}

#work .project h3 {
  font-size: 40px;
  margin: 10px 0 0 0;
  text-align: center;
}

#work a {
  color:black;
  text-decoration: none;
}

#work a:hover {
  text-decoration: underline;
}

#work p {
  font-size: 20px;
}

#work .source {
  margin: 0;
}

/*----------------------*/
/*--------iPhone--------*/
/*----------------------*/
@media screen and (max-width: 1043px) {
  body {
    -webkit-text-size-adjust:none;
  }

  #nav {
    height: 250px;
  }

  #nav #deep-link-list li {
    font-size: 80px;
  }

  #nav .contact-link {
    height: 150px;
  }

  #nav #deep-link-list,
  #nav #contact-list {
    display:block;
    float:none;
    margin: 30 auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

}
