/*----------------------*/
/*---Computer Browser---*/
/*----------------------*/

/*------general------*/
#main-container {
  font-family: 'Josefin Slab';
  padding-top: 91px;
  width:100%;
}

#responsive_img {
  display: none;
}

#responsive_casey {
	display: none;
}

/*------navigation------*/
#nav {
  background-color:black;
  display: block;
  position: fixed;
  top: 0px;
  width:100%;
}

#nav #deep-link-list {
  float:left;
  margin-top: 40px;
}

#nav #deep-link-list li {
  display: inline;
  font-family: 'Shadows Into Light Two';
  font-size: 25px;
  list-style: none;
  margin: 30px;
}

#nav .deep-link {
  color: white;
  text-decoration: none;
}

#nav .deep-link:hover {
  text-decoration: underline;
}

#nav #contact-list {
  display: inline;
  float:right;
  margin-top:20px;
}

#nav #contact-list li{
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

#nav .contact-link {
  border-radius: 50px;
  height: 45px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

/*------intro------*/
#intro {
  background-image: url('../images/headshot_wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center&;
  font-size: 27px;
  height:550px;
  margin-top: -91px;
  padding-left: 10%;
  padding-right:50%;
  padding-top: 211px;
}

#intro-content {
	color:black;
  left: 100px;
}

#intro-content h1 {
  font-family: "Shadows Into Light Two";
  font-size:50px;
  margin-bottom: 5px;
}

#intro-content ul {
  list-style: none;
  margin:0;
  padding:0;
}

#intro-content li {
	font-family: "Josefin Slab";
  line-height:0.75em;
  list-style: none;
}

/*------portfolio intro------*/
#portfolio {
  margin: -91px auto 0 auto;
  padding: 141px 0 50px 0;
  text-align: center;
  width: 90%;
}

#portfolio h2 {
  font-family: 'Josefin Slab';
  font-size: 60px;
  margin-bottom:60px;
}

#portfolio p {
  color:black;
  font-family: 'Shadows Into Light Two';
  font-size: 30px;
  line-height:35px;
  margin-top:60px;
}

#portfolio a {
  color:#7a7a7a;
  text-decoration: none;
}

#portfolio a:hover {
  text-decoration: underline;
}


/*------portfolio------*/
#work-wrapper {
  background-image: url('../images/graph_paper.jpg');
  background-size:cover;
}

#work {
  background-color: rgba(255, 255, 255, 0.6);
  color:black;
  margin: 0 auto;
  padding-bottom: 120px;
}

#work .project {
  display: inline-block;
  margin: 4.5%;
  text-align: center;
  vertical-align: top;
  width: 40%;
}

#work #sentitrend {
  display:block;
  margin: 0 auto;
}


#work .project img {
  border: 2px solid black;
  width:100%;
}

#work .project h3 {
  font-family: 'Josefin Slab';
  font-size: 40px;
  margin: 10px 0 0 0;
  text-align: center;
}

#work a {
  color:#7a7a7a;
}


#work p {
  font-size: 20px;
  margin-top: 5px;
}

#work .source {
  margin: 0;
}

#work .source a {
  text-decoration: none;
}

#work .source a:hover {
  text-decoration: underline;
}

/*------skills------*/
#skills {
  background: url('../images/casey.jpg') no-repeat center center;
  background-repeat:no-repeat;
	background-size:cover;
	background-position:right;
  /*height: 600px;*/
  margin-top: -91px;
  padding:91px 0 70px 0;
}

#skills-content {
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
  height:100%;
  margin-left: 10%;
  padding:10px;
  width: 50%;
}

#skills-content h3,
#skills-content h2 {
	color:white;
  font-family: 'Shadows Into Light Two';
}

#skills-content .skills-list {
  font-size: 25px;
  line-height:25px;
}

/*------about------*/
#about-me {
  margin-top: -91px;
  padding: 111px 0 20px 0;
  width: 100%;
}

#about-content {
  margin: 20px auto 120px auto;
  width: 85%;
}

#about-content h2 {
  font-family: 'Josefin Slab';
  font-size: 60px;
  margin-bottom:60px;
}

#about-content p {
  font-family: "Josefin Slab";
  font-size: 30px;
  line-height: 35px;
}

#about-content span {
  font-family: 'Shadows Into Light Two';
  font-size:25px;
}

#right-curly-p {
  margin:0;
}

#first-left-curly {
  float:left;
  width:60px;
}

#second {
  margin: 40px;
  text-align: right;
}

#right-curly {
  float:right;
  width:65px;
}

#second-left-curly {
  float:left;
  width: 45px;
}

#about-me a {
  color: #7a7a7a;
  display:block;
  font-size: 60px;
  margin: 30px;
  right: 30px;
  text-align: center;
  width: 100%;
}

/*-------Footer---------*/

#footer {
  background-color:black;
  color:white;
  font-size: 20px;
  padding: 40px;
  text-align: center;
}

#footer p {
  margin:0;
}



/*----------------------*/
/*--------iPhone--------*/
/*----------------------*/



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1038px) {
		#main-container {
			padding-top:141px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}

    #portfolio {
      margin: -141px auto 0 auto;
      padding: 231px 0 50px 0;
    }

    #work {
      padding-bottom:141px;
    }

    #skills {
      margin-top: -141px;
      padding:141px 0 70px 0;
    }

    #about-me {
      margin-top: -141px;
      padding: 161px 0 20px 0;
    }

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#main-container {
			padding-top:141px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}


    #portfolio .project {
      display: block;
      margin: 0 auto 50px auto;
      padding:30px;
      text-align: center;
      vertical-align: top;
      width: 90%;
    }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#main-container {
			padding-top:141px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 4%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}

		#intro {
			background-image: none;
			height:100%;
			margin: 0 auto;
			padding: 0;
			width: 100%;
		}

		#responsive_img {
			display:block;
			border-radius: 100%;
			margin: 10px auto;
			width: 90%;
		}

		#intro-content h1 {
			font-size: 40px;
			margin-top:10px;
      text-align: center;
		}

		#intro-content ul {
			font-size:25px;
      margin: 10px;
      text-align: center;
		}

		#work {
			padding:5px 5px 150px 5px;
		}

		#work .project {
		  display: block;
		  margin: 0 auto 50px auto;
      padding:30px 0;
		  text-align: center;
		  vertical-align: top;
		  width: 90%;
		}

    #responsive_casey {
      display:block;
      width:100%;
    }

    #skills {
      background-image: none;
      height: 80%;
      padding: 0px 5px;
    }

    #skills-content {
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    #about-wrapper {
      padding: 0;
      width:100%;
    }

    #about-blurb: {
      margin: 0px;
      width: 100%;
    }

    .curly {
      display:none;
    }

    #first,
    #third {
      background-color: black;
      color:white;
      padding:5px;
    }

    #about {
      margin: 0 auto;
      width:100%;
    }
    #about h2 {
      font-size: 25px;
      line-height:30px;
    }

    #about span {
      font-size: 20px;
    }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

