/*----------------------*/
/*---Computer Browser---*/
/*----------------------*/

/*------general------*/

html, body {  width: 100%; position: relative;}
#main-container {
  font-family: 'Josefin Slab';
  padding-top: 91px;
  width:100%;
  overflow-x:hidden;
}

#responsive_img {
  display: none;
}

#responsive_casey {
	display: none;
}

/*------navigation------*/
#nav {
  background-color:transparent;
  display: block;
  position: fixed;
  top: 0px;
  width:100%;
  z-index: 100;
  opacity: 0.5;
  transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease;
}

#nav:hover {  opacity: 1}

#nav-toggle { cursor:pointer; position: absolute; top: 50%; right: 0; width: 50px; height: 50px; .transform(translate(0,-50%)); }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { cursor: pointer;border-radius: 1px;height: 3px;width: 30px;background: black ;position: absolute;display: block;content: ''; z-index: 5; right: 0; }
#nav-toggle span:before {top: -10px;transition: all .5s ease;}
#nav-toggle span:after {top: 10px; transition: all .5s ease;}
#nav-toggle:hover span:before { top: -12px;}
#nav-toggle:hover span:after {  top: 12px;}
#nav-toggle.active span { background: transparent; }
#nav-toggle.active span:before, #nav-toggle.active span:after {top: 0;}
#nav-toggle.active span:before {transform: rotate(45deg);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);}
#nav-toggle.active span:after {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);}


/*#nav #deep-link-list {
  float:left;
  margin-top: 40px;
}

#nav #deep-link-list li {
  display: inline;
  font-family: 'Shadows Into Light Two';
  font-size: 25px;
  list-style: none;
  margin: 30px;
}

#nav .deep-link {
  color: white;
  text-decoration: none;
}

#nav .deep-link:hover {
  text-decoration: underline;
}*/

#nav #contact-list {
  text-align: center;
  margin:10px;
  float: right;
}

#nav #contact-list li{
  display: inline;
  list-style: none;
  margin: 10px;
}

#nav .contact-link {
  border-radius: 50px;
  height: 45px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

/*------intro------*/
#intro {
  background-image: url('../images/headshot_wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center&;
  font-size: 27px;
  height:550px;
  margin-top: -91px;
  padding-left: 10%;
  padding-right:50%;
  padding-top: 211px;
}

#intro-content {
	color:black;
  left: 100px;
}

#intro-content h1 {
  font-family: "Shadows Into Light Two";
  font-size:50px;
  margin-bottom: 5px;
}

#intro-content ul {
  list-style: none;
  margin:0;
  padding:0;
}

#intro-content li {
	font-family: "Josefin Slab";
  line-height:0.75em;
  list-style: none;
}

/*------portfolio intro------*/
#portfolio {
  margin: -91px auto 0 auto;
  padding: 141px 0 50px 0;
  text-align: center;
  width: 90%;
}

#portfolio h2 {
  font-family: 'Josefin Slab';
  font-size: 60px;
  margin-bottom:60px;
}

#portfolio p {
  color:black;
  font-family: 'Shadows Into Light Two';
  font-size: 30px;
  line-height:35px;
  margin-top:60px;
}

#portfolio a {
  color:#7a7a7a;
  text-decoration: none;
}

#portfolio a:hover {
  text-decoration: underline;
}


/*------portfolio------*/
#work-wrapper {
  display: table;
  width: 100%;
}

#work {
/*  background-color: rgba(255, 255, 255, 0.6);
  color:black;
  margin: 0 auto;
*/  padding-bottom: 90px;
}

#work .project {
  display: table-cell;
  margin: 0.25%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 49%;
}


#work .project img {
  border: 4px solid black;
  /*position:relative;*/
  width:100%;
}

#work .project .description-wrapper {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 98%; position: absolute; top: 0; left: 0; opacity: 0;-webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#work .project .description {
  /*background: rgba(0,0,0,0.8);*/
  color: white;
  cursor: pointer;
  display: block;
  font-weight:bold;
/*  height: 92%;*/
  left: 50%;
  padding:10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  opacity: 0;
  width: 75%;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#work .project:hover .description, #work .project:hover .description-wrapper {
  opacity: 1;
}


#work .project h3 {
  font-family: 'Josefin Slab';
  font-size: 40px;
  margin: 10px 0 0 0;
  text-align: center;
}

#work a {
  color:white;
}


#work p {
  font-size: 20px;
  line-height:1.25em;
  margin-top: 5px;
  word-wrap: break-word;
}

#work .source {
  margin: 0;
}

#work .source a {
  text-decoration: none;
}

#work .source a:hover {
  text-decoration: underline;
}


/*------skills------*/
#skills {
  background: url('../images/casey.jpg') no-repeat center center;
  background-repeat:no-repeat;
	background-size:cover;
	background-position:right;
  /*height: 600px;*/
  margin-top: -91px;
  padding:91px 0 70px 0;
}

#skills-content {
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
  height:100%;
  margin-left: 10%;
  padding:10px;
  width: 50%;
}

#skills-content h3,
#skills-content h2 {
	color:white;
  font-family: 'Shadows Into Light Two';
}

#skills-content .skills-list {
  font-size: 25px;
  line-height:25px;
}

/*------about------*/
#about-me {
  margin-top: -91px;
  padding: 111px 0 20px 0;
  width: 100%;
}

#about-content {
  margin: 20px auto 120px auto;
  width: 85%;
}

#about-content h2 {
  font-family: 'Josefin Slab';
  font-size: 60px;
  margin-bottom:60px;
}

#about-content p {
  font-family: "Josefin Slab";
  font-size: 30px;
  line-height: 35px;
}

#about-content span {
  font-family: 'Shadows Into Light Two';
  font-size:25px;
}

#right-curly-p {
  margin:0;
}

#first-left-curly {
  float:left;
  width:60px;
}

#second {
  margin: 40px;
  text-align: right;
}

#right-curly {
  float:right;
  width:65px;
}

#second-left-curly {
  float:left;
  width: 45px;
}

#about-me a {
  color: #7a7a7a;
  display:block;
  font-size: 60px;
  margin: 30px;
  right: 30px;
  text-align: center;
  width: 100%;
}

/*-------Footer---------*/

#footer {
  background-color:black;
  color:white;
  font-size: 20px;
  padding: 40px;
  text-align: center;
}

#footer p {
  margin:0;
}



/*----------------------*/
/*--------iPhone--------*/
/*----------------------*/



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1038px) {
		#main-container {
			/*padding-top:141px;*/
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}

    #portfolio {
      margin: -141px auto 0 auto;
      padding: 231px 0 50px 0;
    }

    #work-wrapper {
      background-image: url('../images/graph_paper.jpg');
      background-size:cover;
      display: block;
    }

    #work {
      background-color: rgba(255, 255, 255, 0.6);
      color:black;
      margin: 0 auto;
      padding-bottom: 141px;
    }

    #work .project {
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 90%;
    }


    #work .project img {
      border: 2px solid black;
      width:100%;
    }

    #work .project .description-wrapper {
      background:none;
      display:inline-block;
      color:black;
      left:initial;
      opacity: 1;
      position: relative;
      position: initial;
      top:initial;
    }

    #work .project .description {
      background:none;
      display:inline-block;
      color:black;
      left:initial;
      transform: none; -webkit-transform: none; -moz-transform: none;
      opacity: 1;

      position: initial;
      top:initial;
    }

    #work .project h3 {
      font-family: 'Josefin Slab';
      font-size: 40px;
      margin: 10px 0 0 0;
      text-align: center;
    }

    #work a {
      color:#7a7a7a;
    }


    #work p {
      font-size: 20px;
      margin-top: 5px;
    }

    #work .source {
      margin: 0;
    }

    #work .source a {
      text-decoration: none;
    }

    #work .source a:hover {
      text-decoration: underline;
    }


    #skills {
      margin-top: -141px;
      padding:141px 0 70px 0;
    }

    #about-me {
      margin-top: -141px;
      padding: 161px 0 20px 0;
    }

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/*#main-container {
			padding-top:141px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}


    #portfolio .project {
      display: block;
      margin: 0 auto 50px auto;
      padding:30px;
      text-align: center;
      vertical-align: top;
      width: 90%;
    }*/
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#main-container {
			/*padding-top:141px;*/
		}

		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 4%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}

		#intro {
			background-image: none;
			height:100%;
			margin: 0 auto;
			padding: 0;
			width: 90%;
      a
		}

    #work .project .description { width: 100%; padding: 0;}

		#responsive_img {
			display:block;
			border-radius: 100%;
			margin: 10px auto;
			width: 90%;
		}

		#intro-content h1 {
			font-size: 40px;
			margin-top:10px;
      text-align: center;
		}

		#intro-content ul {
			font-size:25px;
      margin: 10px;
      text-align: center;
		}

		#work {
			padding:5px 5px 150px 5px;
		}

		#work .project {
		  display: block;
		  margin: 0 auto 10px auto;
      padding:20px 0;
		  text-align: center;
		  vertical-align: top;
		  width: 90%;
		}

    #responsive_casey {
      display:block;
      width:100%;
    }

    #skills {
      background-image: none;
      height: 80%;
      padding: 0px;
    }

    #skills-content {
      margin: 0;
      padding: 15px 5%;
      text-align: center;
      width: 90%;
    }

    #about-wrapper {
      padding: 0;
      width:100%;
    }

    #about-blurb: {
      margin: 0px;
      width: 100%;
    }

    .curly {
      display:none;
    }

    #first,
    #third {
      background-color: black;
      color:white;
      padding:5px;
    }

    #about {
      margin: 0 auto;
      width:100%;
    }
    #about h2 {
      font-size: 25px;
      line-height:30px;
    }

    #about span {
      font-size: 20px;
    }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

