/*----------------------*/
/*---Computer Browser---*/
/*----------------------*/

/*------navigation------*/
#main-container {
  font-family: 'Josefin Slab';
  padding-top: 91px;
}

#responsive_img {
	display:none;
}

#responsive_casey {
	display: none;
}

/*------navigation------*/
#nav {
  background-color:black;
  display: block;
  position: fixed;
  top: 0px;
  width:100%;
  z-index: 2;
}

#nav #deep-link-list {
  float:left;
  margin-top: 40px;
}

#nav #deep-link-list li {
  display: inline;
  font-family: 'Shadows Into Light Two';
  font-size: 25px;
  list-style: none;
  margin: 30px;
}

#nav .deep-link {
  color: white;
  text-decoration: none;
}

#nav .deep-link:hover {
  text-decoration: underline;
}

#nav #contact-list {
  display: inline;
  float:right;
  margin-top:20px;
}

#nav #contact-list li{
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

#nav .contact-link {
  border-radius: 50px;
  height: 45px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

/*------mary------*/
#about-me {
  background-image: url('../images/headshot_wood.jpg');
	background-size:cover;
  font-size: 27px;
  height:550px;
  padding-left: 10%;
  padding-right:50%;
  padding-top: 5%;

}

#mary {
	color:black;
  left: 100px;
  margin-top: 30px;
}

#mary h1 {
  margin-bottom: 15px;
}

/*------about------*/
#about-wrapper {

  width: 100%;
}

#about-blurb {
  margin: 20px auto;
  width: 85%;
}

#about h2 {
  font-size: 30px;
}

#about span {
  font-family: 'Shadows Into Light Two';
  font-size:25px;
}

#right-curly-p {
  margin:0;
}

#first-left-curly {
  float:left;
  width:60px;
}

#second {
	margin: 20px;
  text-align: right;
}

#right-curly {
  float:right;
  width:65px;
}

#second-left-curly {
  float:left;
  width: 45px;
}

/*------skills------*/
#skills {
  background: url('../images/casey.jpg') no-repeat center center;background-repeat:no-repeat;
	background-size:cover;
	background-position:right;
  height: 600px;
  padding:70px 0;
}

#skills-content {
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
  height:100%;
  margin-left: 10%;
  padding:10px 10px 0 10px;
  width: 50%;
}

#skills-content h3,
#skills-content h2 {
	color:white;
  font-family: 'Shadows Into Light Two';
}

#skills-content .skills-list {
  font-size: 23px;
}

/*------portfolio intro------*/
#work {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 90%;
}

#work h2 {
  font-size: 60px;
  margin-bottom:60px;
}

#work p {
	color:black;
  font-family: 'Shadows Into Light Two';
  font-size: 30px;
  line-height:35px;
  margin-top:60px;
}

#work a {
  color:gray;
  text-decoration: none;
}

#work a:hover {
  text-decoration: underline;
}

/*------portfolio------*/
#work-wrapper {
  background-image: url('../images/Blueprint-11.jpg.png');
  background-size:cover;
  padding: 40px;
}

#portfolio {
  background-color: rgba(255, 255, 255, 0.6);
  color:black;
  margin: 0 auto;
  padding-bottom: 20px;
}

#portfolio .project {
  display: inline-block;
  margin: 40px;
  text-align: center;
  vertical-align: top;
  width: 40%;
}

#portfolio #sentitrend {
  display:block;
  margin: 0 auto;
}


#portfolio .project img {
  border: 2px solid black;
  width:100%;
}

#portfolio .project h3 {
  font-size: 40px;
  margin: 10px 0 0 0;
  text-align: center;
}

#portfolio a {
  color:black;
}


#portfolio p {
  font-size: 20px;
  margin-top: 5px;
}

#portfolio .source {
  margin: 0;
}

#portfolio .source a {
  text-decoration: none;
}

#portfolio .source a:hover {
  text-decoration: underline;
}

/*----------------------*/
/*--------iPhone--------*/
/*----------------------*/



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#main-container {
			padding-top:141px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#main-container {
			padding-top:141px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#main-container {
			padding-top:147px;
		}
		#nav #deep-link-list {
		  float:none;
		  text-align:center;
		  margin-top: 5px;
		}
		#nav #contact-list {
			display: inline-block;
		  float:none;
		  text-align:center;
		  margin: 20px auto;
		  width: 100%;
		}
		#nav #deep-link-list li {
			margin: 6%;
		}
		#nav #contact-list li{
		  margin: 5px;
		}

		#about-me {
			background-image: none;
			height:100%;
			margin: 0 auto;
			padding: 0;
			width: 100%;
		}

		#responsive_img {
			display:block;
			border-radius: 100%;
			margin: 10px auto;
			width: 100%;
		}
		#mary {
			padding: 5px;
			text-align: center;

		}
		#mary h1 {
			font-size: 35px;
			margin-top:0px;
		}

		#mary ul {
			font-size:25px;
		}

		#about-wrapper {
			padding: 0;
			width:100%;
		}

		#about-blurb: {
			margin: 0px;
			width: 100%;
		}

		.curly {
			display:none;
		}

		#first,
		#third {
			background-color: black;
			color:white;
			padding:5px;
		}

		#about {
			margin: 0 auto;
			width:100%;
		}
		#about h2 {
			font-size: 25px;
			line-height:30px;
		}

		#about span {
			font-size: 20px;
		}

		#responsive_casey {
			display:block;
			width:100%;
		}

		#skills {
			background-image: none;
			height: 80%;
			padding: 0px;
		}

		#skills-content {
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;
		}

		#work-wrapper {
			padding: 10px;
		}

		#portfolio {
			padding:5px;
		}

		#portfolio .project {
		  display: block;
		  margin: 0 auto 50px auto;
		  text-align: center;
		  vertical-align: top;
		  width: 95%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

